@import url("https://fonts.cdnfonts.com/css/nats");
@import url("https://fonts.cdnfonts.com/css/montserrat");
a {
  text-decoration: none;
  color: #000;
}

#container {
  height: 3933px;
  width: 1920px;
  background-color: #f9f9f9;
}

#header {
  position: relative;
  top: 0px;
  width: 1920px;
  height: 163px;
  background-color: #fff;
}

#headerText {
  position: absolute;
  left: 132px;
  top: 31px;
  display: flex;
  width: 233px;
  height: 101px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #ad304b;
  font-family: NATS;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

#navbar {
  position: relative;
  left: 691px;
  height: 163px;
  width: 1229px;
}

.navbarItems li {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  text-decoration: none;
  list-style-type: none;
}

#navbarItem1 {
  width: 88px;
  position: absolute;
  top: 70px;
  left: 0px;
}

#navbarItem2 {
  width: 88px;
  height: 34px;
  position: absolute;
  top: 70px;
  left: 152px;
}
#item2 {
  position: absolute;
  top: -20px;
}
.dropdownText {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  padding: 12px;
  padding-left: 0px;
  text-align: left;
}

#dropdownMenu {
  width: 207px;
  height: 300px;
  border-radius: 15px;
  display: none;
  position: absolute;
  top: 30px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  text-decoration: none;
  text-align: left;
}

#dropdownMenu li:hover {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #f2f2f2;
}

#navbarItem2:hover #dropdownMenu {
  display: block;
}

#level2 {
  width: 207px;
  height: 300px;
  border-radius: 15px;
  display: none;
  position: absolute;
  top: -30px;
  left: 230px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  text-decoration: none;
  text-align: left;
}

.dropdownText.comf:hover #level2 {
  display: block;
}

#navbarItem3 {
  width: fit-content;
  position: absolute;
  top: 70px;
  left: 320px;
}

#navbarItem4 {
  position: absolute;
  top: 70px;
  left: 545px;
}

#navbarItem5 {
  position: absolute;
  top: 70px;
  left: 741px;
}

#navbarItem6 {
  position: absolute;
  top: 55px;
  left: 952px;
  border-radius: 13px;
  border: 1px solid #000;
  width: 104px;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

#hText {
  position: absolute;
  top: 361px;
  left: 132px;
  color: #000;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 111.9%;
}
#smallText {
  width: 862px;
  position: absolute;
  top: 545px;
  left: 132px;
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 151.9%; /* 33.418px */
}

.for {
  color: #000;
  width: 759px;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 135.4%; /* 54.16px */
}

.gridCont {
  position: absolute;
  display: grid;
  left: 131px;
  width: 1656px;
  height: 485px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 36px;
}
.card {
  width: 528px;
  height: 485px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 15px;
}
.card2 {
    width: 528px;
    height: 548px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 15px;
  }
.num {
    height: 65px;
  position: relative;
  top: 51px;
  left: 54px;
  color: #ad304b;

  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.4%; /* 64.992px */
}

.cardHead {
  position: relative;
  top: 36px;
  left: 54px;
  width: 420px;
  color: #000;

  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.4%; /* 46.036px */
}
.cardText {
  width: 420px;
  position: relative;
  top: 66px;
  left: 54px;
  color: #6c6c6c;

  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 151.9%; /* 33.418px */
}

#imageContainer2 {
    position: absolute;
    top: 2524px;
    width: 1920px;
    height: 828px;
}

#image2 {
    position: absolute;
    left: 210px;
}

#image2Rect {
    width: 699px;
    height: 441px;
    background-color: #FFF;
    border-radius: 30px;
    position: absolute;
    top: 387px;
    left: 292px;
}
#rectText {
    position: absolute;
    left: 65px;
    top: 61px;
    width: 517px;
    color: #000;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 135.4%; /* 46.036px */
}
#rectText2 {
    position: absolute;
    left: 65px;
    top: 171px;
    width: 527px;
    color: #6C6C6C;
    text-align: justify;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 151.9%; /* 33.418px */
}

#moreButton {
    position: absolute;
    top: 331px;
    left: 65px;
    border-radius: 13px;
    border: 1px solid #AD304B;
    width: 201px;
    height: 50px;
}
#moreText {
    position: absolute;
    top:13px;
    width: 201px;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #AD304B;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


#footer {
  position: absolute;
  top: calc(3933px - 422px);
  width: 1920px;
  height: 422px;
  background-color: #fff;
}
.footerText {
  color: #ad304b;

  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.88px;
}
#copyright {
  position: absolute;
  top: 336px;
  left: 768px;
  width: 384px;
  color: #6c6c6c;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 151.9%; /* 33.418px */
}
