@import url("https://fonts.cdnfonts.com/css/nats");
@import url("https://fonts.cdnfonts.com/css/montserrat");
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

#container {
  width: 1920px;
  height: 2633px;
  background-color: #f9f9f9;
}
#header {
  position: absolute;
  height: 185px;
  width: 1920px;
}
#main {
  position: absolute;
  left: 132px;
  top: 47px;
  width: 233px;
  height: 101px;
  color: #ad304b;
  font-family: NATS;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
#imageContainer {
  position: absolute;
  top: 185px;
  width: 1920px;
  height: 605px;
  flex-shrink: 0;
  background: rgba(26, 64, 100, 0.04);
}
#phone {
  position: absolute;
  top: 64px;
  left: -0px;
}
#slideContainer {
  position: absolute;
  top: 1066px;
  height: 528px;
  width: 1920px;
}
#textbox {
  position: absolute;
  top: 102px;
  left: 210px;
}

#time {
  position: absolute;
  top: 1724px;
  left: 210px;
  width: 1500px;
  height: 710px;
  flex-shrink: 0;
  background: #fff;
}
#footer {
  position: absolute;
  top: 2636px;
  width: 1920px;
  height: 113px;
  background-color: #fff;
}
#copyright {
  position: absolute;
  top: 41px;
  left: 768px;
  width: 384px;
  color: #6c6c6c;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 151.9%; /* 33.418px */
}
.slide.active {
  display: block;
  position: absolute;
  top: 0px;
  left: 1189px;
  background-color: #fff;
  width: 521px;
  height: 528px;
  flex-shrink: 0;
  border-radius: 30px;
}
.slide {
  display: none;
}
.sum {
  width: 170px;
  position: absolute;
  top: 43px;
  left: 60px;
  color: #000;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.4%; /* 48.744px */
}
.income {
  width: 172px;

  position: absolute;
  top: 92px;
  left: 60px;
  color: #b9b7b7;

  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 151.9%;
}
.model {
  width: 335px;

  position: absolute;
  top: 145px;
  left: 60px;
  color: #000;

  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.4%;
}
.year {
  width: 56px;

  position: absolute;
  top: 192px;
  left: 60px;
  color: #b9b7b7;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.4%;
}
.imgslide {
  position: absolute;
  top: 271px;
}
#arrowLeft {
  display: block;
}
#arrowRight {
  display: block;
}
